**/.terraform/*

*.tfstate
*.tfstate.*

# I wanted this file to be included this time.
#*.tfvars

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc


# python venv
venv/*

settings.json